[submodule "lib/fortran-container"]
	path = lib/fortran-container
	url = https://github.com/dongli/fortran-container.git
[submodule "lib/fortran-string"]
	path = lib/fortran-string
	url = https://github.com/dongli/fortran-string.git
